<tr id="tr{{id}}">
    <td>{{id}}</td>
    <td></td>
    <td>{{name}}</td>
    <td>{{size}}</td>
    <td>{{type}}</td>
    <td><a href="#">DELETE</a></td>
    <td><a href="../info/{{id}}">INFO</a></td>
    <td><a href="#">DOWNLOAD</a></td>
</tr>